# Chocolate sales across the world

In [26]:
# Libraries
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\dagui\Downloads\Chocolate Sales.csv")
df.head(15)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
5,Van Tuxwell,India,Smooth Sliky Salty,06/06/2022,"$5,376.00",38
6,Oby Sorrel,UK,99% Dark & Pure,25/01/2022,"$13,685.00",176
7,Gunar Cockshoot,Australia,After Nines,24/03/2022,"$3,080.00",73
8,Jehu Rudeforth,New Zealand,50% Dark Bites,20/04/2022,"$3,990.00",59
9,Brien Boise,Australia,99% Dark & Pure,04/07/2022,"$2,835.00",102
10,Rafaelita Blaksland,UK,Smooth Sliky Salty,13/01/2022,"$4,704.00",62
11,Barr Faughny,USA,Orange Choco,10/03/2022,"$3,703.00",11
12,Mallorie Waber,Canada,Eclairs,13/01/2022,"$1,442.00",286
13,Karlen McCaffrey,New Zealand,Drinking Coco,28/07/2022,$168.00,156
14,Marney O'Breen,New Zealand,Peanut Butter Cubes,03/08/2022,"$8,379.00",173

In [28]:
# Cleansing

df["Amount"] = (
    df["Amount"]
        .str.replace("$","",regex = False)
        .str.replace(",","",regex = False)
        .astype(float)
)
df["Date"] = (
    pd.to_datetime(df["Date"], dayfirst = True, cache = True)
)
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320.0,180
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896.0,94
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501.0,91
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726.0,342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685.0,184

In [30]:
df.dtypes

Sales Person             object
Country                  object
Product                  object
Date             datetime64[ns]
Amount                  float64
Boxes Shipped             int64
dtype: object

In [33]:
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,Day,Month,Year
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320.0,180,4,1,2022
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896.0,94,1,8,2022
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501.0,91,7,7,2022
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726.0,342,27,4,2022
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685.0,184,24,2,2022