# Chocolate sales across the world

In [5]:
# Libraries
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv(r"C:\Users\dagui\Downloads\Chocolate Sales.csv")
df.head(15)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
5,Van Tuxwell,India,Smooth Sliky Salty,06/06/2022,"$5,376.00",38
6,Oby Sorrel,UK,99% Dark & Pure,25/01/2022,"$13,685.00",176
7,Gunar Cockshoot,Australia,After Nines,24/03/2022,"$3,080.00",73
8,Jehu Rudeforth,New Zealand,50% Dark Bites,20/04/2022,"$3,990.00",59
9,Brien Boise,Australia,99% Dark & Pure,04/07/2022,"$2,835.00",102
10,Rafaelita Blaksland,UK,Smooth Sliky Salty,13/01/2022,"$4,704.00",62
11,Barr Faughny,USA,Orange Choco,10/03/2022,"$3,703.00",11
12,Mallorie Waber,Canada,Eclairs,13/01/2022,"$1,442.00",286
13,Karlen McCaffrey,New Zealand,Drinking Coco,28/07/2022,$168.00,156
14,Marney O'Breen,New Zealand,Peanut Butter Cubes,03/08/2022,"$8,379.00",173

In [8]:
#Analysis
df.describe()

       Boxes Shipped
count    3282.000000
mean      164.666971
std       124.024736
min         1.000000
25%        71.000000
50%       137.000000
75%       232.000000
max       778.000000